<%= simple_form_for([@project, Task.new]) do |f| %>
<div class="input-group">
  <%= f.input :content, label: false, class: "form-control", placeholder: "New Task..." %>
  <span class="input-group-btn">
    <%= f.submit class: "btn btn-danger", data: { disable_with: "submiting..." } %>
  </span>
</div>
<% end %>
